:root{

  /*Colores primarios*/
  --Light-red-primary: hsl(356, 100%, 66%);
  --Very-light-red-primary: hsl(355, 100%, 74%);
  --Very-dark-blue: hsl(208, 49%, 24%);
  /*Colores secundarios*/
  
--White: hsl(0, 0%, 100%);
--Grayish-blue: hsl(240, 2%, 79%);
--Very-dark-grayish-blue: hsl(207, 13%, 34%);
--Very-dark-black-blue: hsl(240, 10%, 16%);
  /*GRADIENTES*/
  /*Intro mobile/nav*/
  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);
  /*body*/
  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

body{
  font-family:'Ubuntu', sans-serif;
  font-size: 16px;
}
.header{
  height: 550px;
  border-bottom-left-radius: 75px;
  background-color: var(--Light-red-primary);
  background-image: url('/images/bg-pattern-intro.svg');
  background-repeat: no-repeat;
  background-size: 350%;
  background-position: 35% 40%;
  color: var(--White);
}

.header__logo{
  position: absolute;
  top: 10px;
  left:10px;
}
.images{
  width: 100%;
  height: 75px;
  position: relative;
}
.header__img,
.header__logo{
  position: absolute;
  top: 30px;
}
.header__img{
  right: 10px;
}
.header__logo{
  left: 10px;
}
.header__menu{
  position: absolute;
  list-style: none;
  background-color: var(--White);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transform:translateY(-150%) translateX(5%);
  transition: transform 0.6s;
}

.show{
  transform: translateY(-6.5%) translateX(5%);
}
.header__item{
  width: 40%;
  margin-left: 17.5%;
  margin-right: auto;
  color: var(--Very-dark-blue);
  text-align: center;
  padding-top: 10px;
  line-height: 2.5em;
}
.item__img{
  display: inline-block;
  margin-left: 5px;
  padding: 0.25em;
  transition: transform 0.4s;
}
.rotate{
  transform: rotate(180deg);
}

.header__link{
  text-decoration: none;
}
.header__options{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: #eee;
  line-height: 2em;
  opacity: 0;
  transition: height 0.5s, opacity 0.2s;
}
.animation{
  opacity: 1;
  height: 150px;
}


.header__link{
  color: var(--Very-dark-blue);
}
.login{
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}
.Button{
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 50px;
  height: 45px;
  color:var(--Very-dark-blue);
}
.Button--active{
  width: 100px;
  border-radius: 20px;
  background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  color: var(--White);
}
.titles{
  padding-top: 4em;
}
.header__title{
  text-align: center;
  font-size: 2.2em;
}
.header__secondTitle{
  text-align: center;
  font-size: 1.2em;
}
.titles__Button{
  padding-top: 3em;
  display: flex;
  justify-content: space-evenly;
}
.Button--link,
.Button--transparent{
  width: 150px;
  height: 50px;
  border-radius: 25px;
  font-weight: 600;
}
.Button--link{
  background-color: var(--White);
  color: var(--Very-light-red);
}
.Button--transparent{
  color: var(--White);
border: 1px solid;
}
.main{
  margin-top: 50px;
}
.main__info,
.introducing__title{
  text-align: center;
  color: var(--Very-dark-gray-blue);
}
.introducing{
  margin-top: 50px;
}
.introducing__title{
  font-size: 2em;
}
.introducing__info{
  color: var(--Very-dark-desaturated-blue);
  font-weight: 300;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}
.state{
  margin-top: 200px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: var(--Very-dark-gray-blue);
  background-image: url('/images/bg-pattern-circles.svg');
  background-repeat: no-repeat;
  background-size: 175%;
  background-position: 55% 200%;
  color: var(--White);
}
.state__title{
  font-weight: 500;
  text-align: center;
  font-size: 2em;
  margin-top: -75px;
}
.state__info{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 3em;
}
.state__img{
  transform: translateY(-40%);
  margin-bottom: -100px;
}
.free{
  margin-top: 100px;
}
.box-1__title,
.box-2__title{
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--Very-dark-gray-blue);
}
.box-1__info,
.box-2__info{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
  color: var(--Very-dark-desaturated-blue);
  font-weight: 5400;
}
.footer{
  background-color: var(--Very-dark-black-blue);
  color: var(--White);
  height: 550px;
  border-top-right-radius: 100px;
  font-weight: 500;
  margin-top: 75px;
}
.footer__img{
  transform: translateX(100%);
  padding-top: 2em;
}
.footer__menu{
  padding-left: 0;
  list-style: none;
}
.footer__item{
  text-align: center;
  margin-bottom: 20px;
}
.footer__link{
  text-decoration: none;
  color: var(--Very-dark-grayish-blue);
}
.footer__options{
  display: flex;
  flex-direction: column;
  line-height: 1.7em;
}